.search-bar {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 5; /* Ensure it appears above the map */
}

.search-input-group {
    display: flex;
    width: 100%;
}

.search-input-group input {
    flex: 1;
    padding: 2px 15px;
    border: 2px solid var(--border-color);
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
}

.search-input-group button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.search-input-group button:hover {
    background-color: #195339;
}

.search-loading, .search-error {
    padding: 10px;
    text-align: center;
}

.search-error {
    color: var(--secondary-color);
}

.search-result {
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-color);
    margin-top: 10px;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result img {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.result-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flag-emoji {
    font-size: 2rem;
    margin-right: 10px;
}

.result-header h3 {
    margin: 0;
    color: var(--primary-color);
}

.search-result p {
    margin: 8px 0;
}
